<section class="events">
    <h1>Planes</h1>
<!-- FILTROS -->
  <header class="events__filters">
    <div>
      <mat-chip-grid aria-label="Filtros activos" class="events__chips" *ngIf="chips().length">
      <mat-chip-row
        *ngFor="let c of chips(); trackBy: chipTrackBy"
        [removable]="true"
        (removed)="removeChip(c)">
        <mat-icon matChipRemove>close</mat-icon>
        {{ c.text }}
      </mat-chip-row>
      </mat-chip-grid>
    </div>
    <div>
    <button matFab extended (click)="openFilters()">
      <mat-icon>search</mat-icon>
      Filtrar
    </button>
    </div>
  </header>

  <div class="spinner" *ngIf="loading()">
    <mat-spinner diameter="36"></mat-spinner>
  </div>

  <div class="events__grid" *ngIf="!loading()">
    <ng-container *ngIf="items().length; else empty">
      <app-event-card *ngFor="let ev of items()"
        [event]="ev"
        from="planes"
        [filters]="currentFilters ()"/>

      </ng-container>

    
    <ng-template #empty>
      <p class="empty">No hay resultados con los filtros aplicados.</p>
    </ng-template>
  </div>
  <ng-template [ngIf]="!loading() && items().length">
  <div class="paginator">
      <mat-paginator 
          [length]="total()"
          [pageIndex]="page()-1"
          [pageSize]="perPage()"
          [pageSizeOptions]="[12,24,50,100]"
          (page)="pageChange($event)">
      </mat-paginator>
      </div>
      </ng-template>
</section>
