<mat-card class="event-card mat-elevation-z1" appearance="outlined" [routerLink]="['/event', event.id]" [state]="from ? { from, filters } : undefined">
      <div class="event-card__lead">
        <img mat-card-sm-image *ngIf="event.imageUrl" [src]="event.imageUrl" alt="" loading="lazy" >
      </div>

      <div class="event-card__body">
        <h2 class="event-card__title mat-title-medium line-clamp-2">{{ event.title }}</h2>
        <!--<p class="event-card__support mat-body-medium line-clamp-2">
          {{ event.description  }} </p>-->

        <div class="event-card__meta mat-body-small">
          <span class="event-card__dates">
          {{ event.when.start | dateLocale }}
          <ng-container *ngIf="event?.when?.end && !(event.when.start | isSameDay:event.when.end) ">- {{ event.when.end | dateLocale }}</ng-container>
          </span>
      
          <span *ngIf="event.municipality"  class="event-card__place"> {{ event.municipality }}</span>
        </div>
      </div>

      <div class="event-card__trail">
        <mat-icon>chevron_right</mat-icon>
      </div>
    </mat-card>
