<mat-card appearance="outlined">
  <img *ngIf="event.imageUrl" [src]="event.imageUrl" alt="" mat-card-image>
  <mat-card-content>
  <mat-card-title>{{ event.title }}</mat-card-title>
  <mat-card-subtitle>
    {{ event.when.start | dateLocale }}
    <ng-container *ngIf="event.when.end">- {{ event.when.end | dateLocale }}</ng-container>
    <span *ngIf="event.place"> {{ event.place }}</span>
  </mat-card-subtitle>
  <mat-card-actions>
    <a mat-button [routerLink]="['/event', event.id]">Ver detalle</a>
  </mat-card-actions>
  </mat-card-content>
</mat-card>
